<div class="container" >
	<h1>Shopping Cart</h1>
	<div class="maintable col-md-12">
		<div class="row top-bottom-border">
			<div class="col-md-6">Item</div>
			<div class="col-md-2">Quantity</div>
			<div class="col-md-2">Price</div>
			<div class="col-md-2">&nbsp;</div>
		</div>
		<div class="row top-bottom-padding">
			<div class="col-md-6">
				<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg">
				Dynamix 20cm 24 pin ATX Mother...
			</div>
			<div class="col-md-2 padding-top-15-px">
				<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
			</div>
			<div class="col-md-2 padding-top-15-px">$2.00</div>
			<div class="col-md-2 padding-top-15-px">
				<img src="http://techbroz.co.nz/images/delete.png">
			</div>
		</div>

		<div class="row top-bottom-padding">
			<div class="col-md-6">
				<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg">
				Dynamix 20cm 24 pin ATX Mother...
			</div>
			<div class="col-md-2 padding-top-15-px">
				<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
			</div>
			<div class="col-md-2 padding-top-15-px">$2.00</div>
			<div class="col-md-2 padding-top-15-px">
				<img src="http://techbroz.co.nz/images/delete.png">
			</div>
		</div>

		<div class="row top-bottom-border">
			<div class="col-md-6">Total</div>
			<div class="col-md-2">2</div>
			<div class="col-md-2">$4.00</div>
			<div class="col-md-2">&nbsp;</div>
		</div>

		<div class="row" >
			<div class="col-md-12 ">
				<div [routerLink]="['/order-review']" type="button" class="btn btn-primary pull-right margin-top-15-px">Proceed to Checkout</div>
			</div>
		</div>


    </div>
</div>