.top-bottom-border{
	padding:10px 0;
	border-bottom:1px solid gray;
	border-top:1px solid gray;
}
.top-bottom-padding{
	padding:10px 0;
	    border-bottom: 1px solid #ccc4c4;
}
.padding-top-15-px{
	padding-top:15px
}
.margin-top-15-px{
	margin-top:15px
}
