<div class="container" >
	<h1>Review & Confirm</h1>

	<div class="col-md-6">
		<h3>Billing Address</h3>
		<div class="col-md-10">
			Sreejish KS<br>
			srijishks@gmail.com<br>
			278 Jackson st, Lower Hutt, Lower Hutt<br>
			5012, 2108142101<br>
		</div>
		
	</div>


	<div class="col-md-6">
		<h3>Shipping Address</h3>
		<div class="col-md-10">
			Sreejish KS<br>
			srijishks@gmail.com<br>
			278 Jackson st, Lower Hutt, Lower Hutt<br>
			5012, 2108142101<br>
		</div>
		
	</div>


	<div class="maintable col-md-12">
		<div class="row top-bottom-border">
			<div class="col-md-6"><h4>Item</h4></div>
			<div class="col-md-2"><h4>Quantity</h4></div>
			<div class="col-md-2"><h4>Price</h4></div>
			<div class="col-md-2"><h4>Action</h4></div>
		</div>
		<div class="row top-bottom-padding">
			<div class="col-md-6">
				<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg">
				Dynamix 20cm 24 pin ATX Mother...
			</div>
			<div class="col-md-2 padding-top-15-px">
				<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
			</div>
			<div class="col-md-2 padding-top-15-px">$2.00</div>
			<div class="col-md-2 padding-top-15-px">
				<img src="http://techbroz.co.nz/images/delete.png">
			</div>
		</div>

		<div class="row top-bottom-padding">
			<div class="col-md-6">
				<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg">
				Dynamix 20cm 24 pin ATX Mother...
			</div>
			<div class="col-md-2 padding-top-15-px">
				<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
			</div>
			<div class="col-md-2 padding-top-15-px">$2.00</div>
			<div class="col-md-2 padding-top-15-px">
				<img src="http://techbroz.co.nz/images/delete.png">
			</div>
		</div>

		<div class="row top-bottom-border">
			<div class="col-md-6">SHIPPING COST to AUCKLAND</div>
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-2">$14.00</div>
			<div class="col-md-2">&nbsp;</div>
		</div>

		<div class="row top-bottom-border">
			<div class="col-md-6">Total</div>
			<div class="col-md-2">2</div>
			<div class="col-md-2">$18.00</div>
			<div class="col-md-2">&nbsp;</div>
		</div>

		<div class="row" >
			<div class="col-md-12 ">
				
				<div [routerLink]="['/home']"  class="btn btn-primary pull-right margin-top-15-px">Proceed with payment</div>
			</div>
		</div>


    </div>

	

</div>