/* You can add global styles to this file, and also import other style files */
.mt-18-pr{margin-top: 18%; }
.product-grid{
	    cursor: pointer;
    margin: 5px;
    border: 1px solid #f5eeee;
    text-align: center;
}
.itm-title{
	font-size: 15px;
	font-weight: bold;
}
.itm-desc{
	font-size: 11px;
}
.itm-price{
	font-size: 15px;
	font-weight: bold;
}
.addcrt{
    margin: 0 auto;
	width: 89%;
    height: 20px;
    display: block;
    background: url(./assets/images/atc2.png) no-repeat;
    background-size: 96% 22px;
}
.addcrt-btn{
	background-color: #936 !important;
    color: #fff !important;
    font-weight: bold;
}