<div class="container">
	<ul id="slides">
		
		<li class="slide showing"><img src="http://techbroz.co.nz/newslider/data1/images/14.png" ></li>
		<li class="slide "><img src="http://techbroz.co.nz/newslider/data1/images/13.png"></li>
		<li class="slide "><img src="http://techbroz.co.nz/newslider/data1/images/12.png"></li>
		<li class="slide "><img src="http://techbroz.co.nz/newslider/data1/images/11.png"></li>
		
	</ul>


	
</div>

<div class="container mt-18-pr" >
	
	<div class="row" >
		<div class="col-md-2" *ngFor="let item of data; ">

			<div class="product-grid" [routerLink]="[item.title | urlrewrite:item.productid]">
			<img src="{{globals.AppUrl}}/estore_images/{{item.thumbimage}}" width="100" height="82"><br>
			 <div class="itm-title">{{item.title | strip:15}}</div>
			<div class="itm-desc">{{item.description | strip:30}}
			${{item.listprice}}
			
			<i class="fa fa-cart-plus" aria-hidden="true"></i></div>
			</div>
		</div>
		

	</div>
	
	
	
</div>