<div class="container">
	<ul id="slides">
		
		<li class="slide showing"><img src="http://techbroz.co.nz/newslider/data1/images/14.png" ></li>
		<li class="slide "><img src="http://techbroz.co.nz/newslider/data1/images/13.png"></li>
		<li class="slide "><img src="http://techbroz.co.nz/newslider/data1/images/12.png"></li>
		<li class="slide "><img src="http://techbroz.co.nz/newslider/data1/images/11.png"></li>
		
	</ul>


	
</div>

<div class="container mt-18-pr" >
	<div class="row">
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>

	</div>
	<div class="row">
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>

	</div>
	<div class="row">
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>

	</div>
	<div class="row">
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2">
			<img src="http://techbroz.co.nz/estore_images/THUMB600_estore.jpg" width="100" height="82"><br>
			NETGEAR VMS3330 ARLO Smart Home Secu...<br>
			$884.74
			<i class="fa fa-cart-plus" aria-hidden="true"></i>
		</div>

	</div>
</div>