<div class="container" >
<h1>{{title}}</h1>
	<div class="row">
		<div class="col-md-8">
			<img src="{{globals.AppUrl}}/estore_images/{{mainimage}}" id="EmilyGallery1" width="456">
		</div>
		<div class="col-md-4 jumbotron">
		<h3>{{title}}</h3>

		<h6>Availability: {{availablity}} remaining</h6>
		<div class="row">
			<div class="col-md-3 item-price"> ${{price}} </div>
			<div class="col-md-2 strike-pout-price">${{listprice}}  </div>
			<div class="col-md-7">&nbsp;  </div>
		</div>

		<h6>Including GST. All prices NZ dollars. Web pricing may differ from in-store pricing.</h6>
		<div class="row">
			<div class="col-md-2"><h4>Qty </h4></div>
			<div class="col-md-4">
				<select class="form-control">
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div> 
			<div class="col-md-6">
				<a [routerLink]="['/cart']" class="btn btn-primary">Add to Cart</a>
			</div>
		</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-10">
		<p>{{desc}}</p>
		</div>
		<div class="col-md-1">&nbsp;</div>
	</div>

	<h3 class="border-bottom-gray-line">Related Products</h3>

	<app-listings></app-listings>
</div>